.idea
__pycache__/
losses.ls
training_log.txt
weights_*/
training_ckpts
plots
positions
DatasetsMulti
Datasets/*
MetadataMulti.mpk
summaries
comparison_report.json
trained_concept_relations.json
concept_relations.txt
reports
out
weights/
exported_data/

!Datasets/Kernel_10_000
!Datasets/Random_10_000
!Datasets/Random_15_000
!Datasets/Random_25_000
